<div class="container">
<h1>Login</h1>
    <form class="card" id="loginForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="username" class="form-control" id="loginUsername">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword">
        </div>
                <a href="/signup">Sign up instead</a>
        <button type="Login" class="btn btn-primary">Login</button>
    </form>
</div>

<script src="js/login.js"></script>