<main class="container">
<h1>Signup</h1>
    <div class="">
        <form class="card" id="signupForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="username" class="form-control" id="signupUsername">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="signupPassword">
            </div>
            <button type="Login" class="btn btn-primary">Login</button>
        </form>
    </div>
</main>

<script src="js/signup.js"></script>